{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for item in items %}
<div class="grid grid-cols-5 gap-4 justify-items-center box-element lg:mx-20 mb-4">
    <div style="flex:2"><p>{{ item.product.name }}</p></div>
    <div style="flex:1"><p>${{ item.product.price|floatformat:2 }}</p></div>
    <div style="flex:1">
        <p class="quantity">{{ item.quantity }}</p>
        <div class="quantity">
            <img 
                data-product="{{item.product.id}}" 
                data-action="add" 
                src="{% static 'images/arrow-up.png' %}" 
                class="chg-quantity update-cart"
            >
            <img 
                data-product="{{item.product.id}}" 
                data-action="remove" 
                src="{% static 'images/arrow-down.png' %}" 
                class="chg-quantity update-cart"
            >
        </div>
    </div>
    <div class="flex-1"><p>{{ item.get_total }}</p></div>
    <div style="flex:2"><img src="{{ item.product.imageURL }}" class="row-image"></div>
</div>
{% endfor %}

<div class="grid justify-items-center lg:grid-cols-5 gap-4 mx-20 mt-20">
    <div>
        <a href="{% url 'store' %}" 
            class="bg-blue-500 text-sm px-4 py-2 border rounded text-white border-white hover:border-teal-500 hover:text-teal-500 hover:bg-white">
            &#x2190; Continue Shopping
        </a>
    </div>

    <div>

    </div>

    <div>
        <h5>Items: <strong>{{ order.get_cart_items }}</strong></h5>
    </div>

    <div>
        <h5>Total: <strong>${{ order.get_cart_total|floatformat:2 }}</strong></h5>
    </div>

    <div class="mt-6 lg:mt-0">
        <a href="{% url 'checkout' %}" 
            class="bg-green-500 text-sm px-4 py-2 border rounded text-white border-white hover:border-teal-500 hover:text-teal-500 hover:bg-white">
            Checkout
        </a>
    </div>
    
</div>
{% endblock %}